body{
		font-family:Gadget, sans-serif;
	}
	
a{
	text-decoration:underline;
}	

table, th, td {	
				border: 2px solid black;
				border-collapse: collapse;
				padding: 2px;
				margin-left:auto;
				margin-right:auto;
				font-size:14px;
				text-align:center;
			}
			
li{
	margin-left:280px;
	font-size:14px;
}			
			
